/* site wide css */

.minor-section {
  margin: 10px;
  padding: 10px;
  border: solid 1px #A0A0A0;
  border-radius: 10px;
}

#content {
  width: calc(100% - 30px);
  margin: 10px;
  padding: 10px;
  border: solid 1px #808;
  font-family: sans-serif;
}